 *{     margin:0; 
        padding:0; 
  }

.container {
    margin: 0 auto;
    width: 1920px;
}

header {
    position: relative;
    height: 1024px;
    background-image: url(../img/Photo.jpg);
    background-size: 1920px 1024px;
}

.logo {
    margin-top: 40px;
    margin-left: 376px;
    fill: white;
}

header a:hover .logo {
    fill: #c7b29a; 
}
header span {
    position: absolute;
    font-family: Raleway;
    color:  #ffffff;
    font-size: 34px;
    font-weight: 400;
    text-align: right;
    top: 50px;
    left: 445px;
    display: inline-block;
    float: left;
}

header a:hover span {
    color: #c7b29a;
}

header nav {
    margin-left: 320px;
    display: inline-block;
}

header nav ul li {
    display: inline-block;
    float: left;
    font-family: Montserrat;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    margin-right: 29px;
    margin-top: -10px;
    
}

header nav ul li a:hover {
    color:  #c7b29a;
}

header nav ul li a {
    text-decoration: none;
    font-family: Montserrat;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
}

.basket {
    text-decoration: none;
    display: inline-block;
    float: left;
    fill: white;
    margin-right: 29px;
    margin-left: 720px;
    margin-top: -20px;
}

.search {
    float: none;
    margin-top: -20px;
    fill: white;
}

.basket:hover {
    fill: #c7b29a;
}

.search:hover {
    fill: #c7b29a;
}

h3 {
    font-family: Raleway;
    color:  #ffffff;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    display: block;
    width: 100%;
    margin-top: 260px;
    clear: both;
}

h2 {
    font-family: Raleway;
    color:  #ffffff;
    font-size: 52px;
    font-weight: 700;
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

p {
    font-family: Montserrat;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;   
}

header p {
    margin-top: 20px;
    width: 100%;
}

header button {
    text-transform: uppercase;
    border-radius: 3px;
    background-color:  #998675;
    width: 170px;
    height: 53px;
    font-family: Raleway;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
    letter-spacing: 2px;
    margin-left: 876px;
    margin-top: 40px;
    cursor: pointer;
    outline: none;
}

header button:hover {
    color: black;
}

header button:active {
    background-color: dimgrey;
}

.title {
    position: relative;
}

.title a .left {
    position: absolute;
    top: 94px;
    left: 150px;
    fill: #8c8c8c;
}

.title a .right {
    position: absolute;
    top: 94px;
    left: 1730px;
    fill: #8c8c8c;
}

.title a .left:hover {
    fill: #c7b29a;
}

.title a .right:hover {
    fill: #c7b29a;
}

.slider {
    width: 100%;
    margin-top: 327px;
}

.slider input[name="switch"] {
    display: none;
}

.switch {
    text-align: center;
    width: 100%;
}

.switch label {
    display: inline-block;
    background-color: #949597;
    width: 11px;
    height: 11px;
    cursor: pointer;
    margin: 0 3px;
    border-radius: 50%;
    vertical-align: middle;
}

#btn1:checked ~ .switch label[for="btn1"] {
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: #d3c1ad;
    box-sizing: border-box;
    background-color:  black;
    width: 15px;
    height: 15px;
}

#btn2:checked ~ .switch label[for="btn2"] {
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: #d3c1ad;
    box-sizing: border-box;
    background-color:  black;
    width: 15px;
    height: 15px;
}

#btn3:checked ~ .switch label[for="btn3"] {
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: #d3c1ad;
    box-sizing: border-box;
    background-color:  black;
    width: 15px;
    height: 15px;
}

#btn4:checked ~ .switch label[for="btn4"] {
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: #d3c1ad;
    box-sizing: border-box;
    background-color:  black;
    width: 15px;
    height: 15px;
}

#btn5:checked ~ .switch label[for="btn5"] {
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: #d3c1ad;
    box-sizing: border-box;
    background-color:  black;
    width: 15px;
    height: 15px;
}

.figure {
    width: 270px;
    display: inline-block;
    float: left;
    margin-right: 33px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;    
}

.pen {
    fill: black;
}

.short-info a:hover .pen {
    fill: #c7b299;
}

.icon1 {
    width: 270px;
    float: none;
}

.books {
    fill: black;
}

.short-info a:hover .books {
    fill: #c7b299;
}

.wheel {
    fill: black;
}

.short-info a:hover .wheel {
    fill: #c7b299;
}

.folder {
    fill: black;
}

.short-info a:hover .folder {
    fill: #c7b299;
}



.short-info a:hover h4 {
    color: #c7b299;
}


.short-info {
    margin-left: 378px;
}

.short-info h4 {
    font-family: Raleway;
    color:  #555555;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
}

.short-info span {
    font-family: Montserrat;
    color:  #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
}

.short-info .figure svg {
    width: 49px;
    height: 49px;
}

.themes h5 {
    display: block;
    font-family: Raleway;
    color:  #555555;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding-top: 83px;
}

.themes {
    clear: both;
    background-color: #fbfaf8;
    width: 1920px;
    position: relative;
    height: 700px;
}

.themes p {
    font-family: Montserrat;
    color:  #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    margin-top: 24px;
    padding-bottom: 40px;
}

.left {
    display: block;
    position: absolute;
    top: 300px;
    left: 346px;
}
.right {
    display: block;
    position: absolute;
    top: 300px;
    right: 334px;
    
}
.center {
    display: block;
    position: absolute;
    top: 218px;
    left: 576px;
}

.left:hover {
    z-index: 1;
}

.right:hover {
    z-index: 1;
}

.center:hover {
    z-index: 1;
}
aside {
    height: 150px;
background: -webkit-linear-gradient(bottom, #211b19 0%, #4e3427 100%);
background: -o-linear-gradient(bottom, #211b19 0%, #4e3427 100%);
background: linear-gradient(to top, #211b19 0%, #4e3427 100%);
    margin-top: 462px;
    position: relative;
}

aside span {
    display: block;
    font-family: Raleway;
    color:  #ffffff;
    font-size: 28px;
    font-weight: 400;
    margin-left: 376px;
    padding-top: 48px;
    width: 530px;
}

aside .txt {
    display: block;
    font-family: Montserrat;
    color:  #615855;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    margin-top: -40px;
    margin-left: 376px;
}

aside button {
    text-transform: uppercase;
    border-radius: 3px;
    background-color:  #998675;
    width: 170px;
    height: 50px;
    font-family: Raleway;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
    letter-spacing: 2px;
    left: 1376px;
    top: 50px;
    cursor: pointer;
    outline: none;
    position: absolute;
}

.spans:hover span {
    color:  #c7b299;
}

aside button:hover {
    color: black;
}

aside button:active {
    background-color: dimgrey;
}
.projects {
    height: 1200px;
    width: 100%;
}

.projects h5 {
    display: block;
    font-family: Raleway;
    color:  #555555;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-top: 200px;
}

.projects p {
    font-family: Montserrat;
    color:  #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    margin-top: 20px;
}

.all,.web,.photo {
    display: inline-block;
    float: left;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    font-family: Montserrat;
    color:#8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    text-align: center;
    box-sizing: border-box;
    background-color:  rgba(17, 17, 17, 0);
    width: 120px;
    height: 32px;
    text-decoration: none;
    padding: 5px;
    margin-right: 10px;
    margin-top: 30px;
}

.projects-photo p {
    background-color:  #fbfaf8;
    width: 370px;
    margin-top: -7px;
    padding-top: 30px;
    font-family: Raleway;
    color:  #c7b29a;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 2px;
}

.short-info span::after {
    content: "__";
    margin-top: -20px;
    padding-top: 30px;
    color:  #f1eee9;
    font-size: 60px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 2px;
    display: block;
}
.short-info .figure:hover span:after {
    color: #c7b29a;
}


.ph:hover img{
    filter: brightness(50%);
    transition: 2s;
}

.ph2:hover img{
    filter: brightness(95%);
    transition: 2s;
}

.ph3:hover img{
    filter: brightness(50%);
    transition: 2s;
}

.ph4:hover img{
    filter: brightness(50%);
    transition: 2s;
}

.ph5:hover img{
    filter: brightness(50%);
    transition: 2s;
}

.ph6:hover img{
    filter: brightness(50%);
    transition: 2s;
}

.ph::before {
    content: ''; 
    position: absolute; 
    left: 19px; 
    top: 213px; 
    border: 12px solid transparent; 
    border-bottom: 12px solid #fbfaf8;
}
.ph2::before {
    content: ''; 
    position: absolute; 
    left: 19px; 
    top: 213px; 
    border: 12px solid transparent; 
    border-bottom: 12px solid #fbfaf8;
}
.ph3::before {
    content: ''; 
    position: absolute; 
    left: 19px; 
    top: 213px; 
    border: 12px solid transparent; 
    border-bottom: 12px solid #fbfaf8;
}
.ph4::before {
    content: ''; 
    position: absolute; 
    left: 19px; 
    top: 213px; 
    border: 12px solid transparent; 
    border-bottom: 12px solid #fbfaf8;
}
.ph5::before {
    content: ''; 
    position: absolute; 
    left: 19px; 
    top: 213px; 
    border: 12px solid transparent; 
    border-bottom: 12px solid #fbfaf8;
}
.ph6::before {
    content: ''; 
    position: absolute; 
    left: 19px; 
    top: 213px; 
    border: 12px solid transparent; 
    border-bottom: 12px solid #fbfaf8;
}
.ph:hover::before {
    border: 12px solid transparent; 
    border-bottom: 12px solid #362f2d;
}
.ph2:hover::before {
    border: 12px solid transparent; 
    border-bottom: 12px solid #362f2d;
}
.ph3:hover::before {
    border: 12px solid transparent; 
    border-bottom: 12px solid #362f2d;
}
.ph4:hover::before {
    border: 12px solid transparent; 
    border-bottom: 12px solid #362f2d;
}
.ph5:hover::before {
    border: 12px solid transparent; 
    border-bottom: 12px solid #362f2d;
}
.ph6:hover::before {
    border: 12px solid transparent; 
    border-bottom: 12px solid #362f2d;
}
.projects-photo span {
    font-family: Montserrat;
    color: #d1d1d1;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
    display: block;
    width: 370px;
    background-color: #fbfaf8;
    padding-bottom: 27px;
}

.all {
    width: 70px;
    margin-left: 658px;
}

.photo {
    width: 135px;
    float: none;
}
.all:hover,.web:hover,.photo:hover {
    background-color:  #998675;
    color:  #ffffff;
}

.projects-photo {
    position: relative;
    margin-top:  40px;
    margin-left: 376px;
    margin-right: 374px;
}

.projects-photo a {
    text-decoration: none;
}

.photo2 {
    margin-left: 30px;
    display: inline-block;
    float: left;
}

.photo2,.photo1 {
    display: inline-block;
    float: left;
    margin-bottom: 30px;
}

.photo1:hover p,.photo2:hover p,.photo1:hover span,.photo2:hover span{
    background-color:  #362f2d;
}

.photo1:hover p,.photo2:hover p {
    color:  #ffffff;
}
.photo1:hover span,.photo2:hover span {
    color:  #c7b299;
}

.photo1,.photo2 {
    position: relative;
}

.link {
    left: 144px;
    top: 106px;
    position: absolute;
    fill: transparent;
}


.photo1:hover .link,.photo2:hover .link {
    fill: #c7b299;
}

.photo1:hover .lupa,.photo2:hover .lupa {
    fill: #c7b299;
}


.lupa {
    position: absolute;
    left: 190px;
    top: 106px;
    fill: transparent;
}

.projects-photo button {
    text-transform: uppercase;
    border-radius: 3px;
    background-color:  #998675;
    width: 170px;
    height: 50px;
    font-family: Raleway;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
    letter-spacing: 2px;
    margin-left: 500px;
    margin-top: 10px;
    cursor: pointer;
    outline: none;
}

.projects-photo button:hover {
    color: black;
}

.projects-photo button:active {
    background-color: dimgrey;
}

.video {
    
    height: 705px;
    margin-top: -110px;
    position: relative;
    width: 100%;
}
video {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -9999;
	opacity: 0.9;
}

.video h2 {
    font-family: Raleway;
    color:  #ffffff;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    display: block;
    padding-top: 400px;
}

.video p {
    font-family: Montserrat;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    margin-top: 15px;
}

.video span {
    font-family: Montserrat;
    color:  #c7b299;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    display: block;
    margin-top: 35px;
}

.mobile {
    height: 695px;
    background-color:  #fbfaf8;
    background-image: url(../img/iPhone%20in%20hand.png);
    background-repeat: no-repeat;
    background-size: 423px 616px;
    background-position: 423px 79px;
    margin-top: -10px;
}

.mobile h2 {
    font-family: Raleway;
    color:  #555555;
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    display: block;
    margin-left: 877px;
    padding-top: 195px;
}

.mobile p {
    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
    margin-left: 877px;
    padding-top: 40px;
}

.mobile ul li {
    list-style-type: none;
    list-style-image:  url(../img/01.png);
    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
    padding-bottom: 3px;
    padding-left: 15px;
}


.mobile ul {
    margin-left: 960px;
    padding-top: 35px;
}
.figures {
    background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
    margin-top: -5px;
    width: 1920px;
    height: 300px;
}

.fig2 {   
    display: inline-block;
    float: left;
    margin-top: 69px;
    margin-left: 73px;
    text-align: center;
    
}
.fig1 {
    display: inline-block;
    float: left;
    margin-top: 69px;
    text-align: center;
    margin-left: 496px;
}
.figures span {
    font-family: Montserrat;
    color:  #ffffff;
    font-size: 48px;
    font-weight: 200;
    line-height: 36px;
}

.figures p {
    font-family: Montserrat;
    color:  #c7b299;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-transform: uppercase;
    margin-top: 21px;
}

.figures p::after {
    display: block;
    content: "__";
    font-size: 48px;
    font-weight: 200;
    line-height: 36px;
    color: white;
}

.figures svg {
    fill: #c7b299;
}

.figures figcaption {
    margin-top: 30px;
    margin-bottom: 30px;
}


.figures a:hover p::after {
    color: #c7b299;
}
.recent-posts h2 {
    font-family: Raleway;
    color:  #555555;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-top: 82px;
    margin-bottom: 25px;
}

.recent-posts p {
    font-family: Montserrat;
    color:  #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
}

.posts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
    position: relative;
}

.art1,.art2 {
    margin-right: 30px;
}
.art1::before {
    content: url(../img/Day.jpg);
    position: absolute;
    top: 20px;
    left: 396px;
}
.art1::after {
    content: url(../img/Month.jpg);
    position: absolute;
    top: 55px;
    left: 396px;
}
.art3::before {
    content: url(../img/Day.jpg);
    position: absolute;
    top: 20px;
    left: 1196px;
}
.art3::after {
    content: url(../img/Month.jpg);
    position: absolute;
    top: 55px;
    left: 1196px;
}

.art2::before {
    content: url(../img/Day.jpg);
    position: absolute;
    top: 20px;
    left: 796px;
}
.art2::after {
    content: url(../img/Month.jpg);
    position: absolute;
    top: 55px;
    left: 796px;
}
.posts h3 {
    font-family: Raleway;
    color:  #555555;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    margin-top: 30px;
    padding-left: 29px;
}

.posts p {
    font-family: Montserrat;
    color:  #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
    margin-top: 19px;
    padding-left: 29px;
}

.posts a {
    margin-top: 27px;
    display: block;
    text-decoration: none;
    font-family: Montserrat;
    color:  #c7b299;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
    padding-left: 30px;
    position: relative;
    padding-bottom: 33px;
}

.posts article {
    border: 1px solid #f8f8f8;
    box-sizing: border-box;
}

.posts a::after {
    content: url(../img/arrow2.png);
    position: absolute;
    left: 120px;
}

.posts article:hover h3 {
    font-family: Raleway;
    color:  #c7b299;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
}

.posts article:hover p {
    font-family: Montserrat;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
}

.posts article:hover {
    background-color:  #362f2d;
    border: 1px solid #362f2d;
}
.posts {
    position: relative;
}


.art1:hover::before {
    content: url(../img/Day1.jpg);
    position: absolute;
    top: 20px;
    left: 396px;
    z-index: 1;
}

.art1:hover::after {
    content: url(../img/Month1.jpg);
    position: absolute;
    top: 55px;
    left: 396px;
}
.art3:hover::before {
    content: url(../img/Day1.jpg);
    position: absolute;
    top: 20px;
    left: 1196px;
    z-index: 1;
}
.art3:hover::after {
    content: url(../img/Month1.jpg);
    position: absolute;
    top: 55px;
    left: 1196px;
}

.art2:hover::before {
    content: url(../img/Day1.jpg);
    position: absolute;
    top: 20px;
    left: 796px;
    z-index: 1;
}
.art2:hover::after {
    content: url(../img/Month1.jpg);
    position: absolute;
    top: 55px;
    left: 796px;
}


.slide {
    width: 100%;
    position: absolute;
    top: 180px;
    left: 500px;
}

.slide input[name="swit"] {
    display: none;
    z-index: 1;
}

.swit {
    width: 100%;
    z-index: 1;
}

.swit label {
    display: inline-block;
    background-color: #949597;
    width: 11px;
    height: 11px;
    cursor: pointer;
    margin: 0 3px;
    border-radius: 50%;
    vertical-align: middle;
    z-index: 1;
}

#btn6:checked ~ .swit label[for="btn6"] {
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: #d3c1ad;
    box-sizing: border-box;
    background-color:  black;
    width: 15px;
    height: 15px;
    z-index: 1;
}

#btn7:checked ~ .swit label[for="btn7"] {
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: #d3c1ad;
    box-sizing: border-box;
    background-color:  black;
    width: 15px;
    height: 15px;
    z-index: 1;
}

#btn8:checked ~ .swit label[for="btn8"] {
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: #d3c1ad;
    box-sizing: border-box;
    background-color:  black;
    width: 15px;
    height: 15px;
}

#btn9:checked ~ .swit label[for="btn9"] {
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: #d3c1ad;
    box-sizing: border-box;
    background-color:  black;
    width: 15px;
    height: 15px;
    z-index: 1;
}

#btn10:checked ~ .swit label[for="btn10"] {
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: #d3c1ad;
    box-sizing: border-box;
    background-color:  black;
    width: 15px;
    height: 15px;
    z-index: 1;
}

.posts img:hover:not(.art2) {
    filter: brightness(50%);
    transition: 5s;
}

.art2 img:hover {
    filter: brightness(95%);
    transition: 5s;
}

.left1 {
    display: inline-block;
    margin-left: 935px; 
    margin-top: 40px;
    margin-bottom: 80px;
    fill: #d1d1d1;
}

.left1:hover {
    fill: #c7b299;
}

.right1 {
    display: inline-block;
    margin-left: 8px;
    margin-top: 40px;
    margin-bottom: 80px;
    fill: #d1d1d1;
}

.right1:hover {
    fill: #c7b299;
}

.partners {
    width: 100%;
    height: 489px;
    background-image: url(../img/photo_end.jpg);
}

.partners a img:not(.img1) {
    margin-left: 90px;
}

.img1 {
    margin-left: 406px;
}

.partners a img {
    display: inline-block;
    vertical-align: middle;
    margin-top: 140px;
}

.section1 .logo {
    display: inline-block;
    position: absolute;
    fill: white;
    float: left;
    left: -376px;
    top: -51px;
}

.logo2 {
    position: relative;
    top: 80px;
    left: 376px;
    width: 258px;
    display: inline-block;
    float: left;
}

 .anchor:hover .logo {
    fill: #c7b29a; 
}
.section1 a span {
    position: absolute;
    font-family: Raleway;
    color:  #ffffff;
    font-size: 34px;
    font-weight: 400;
    text-align: right;
    display: inline-block;
    left: 66px;
}

.anchor:hover span {
    color: #c7b29a;
}

footer {
    background-color: #191919;
    width: 100%;
    height: 508px;
}

.section1 .logo2 p {
    font-family: Montserrat;
    color:  #545454;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: justify;
    display: block;
    padding-top: 70px;
}

.section1 .logo2 p:hover {
    color: #c7b299;
}

.read {
    display: block;
    margin-top: 25px;
    text-decoration: none;
    font-family: Montserrat;
    color:  #d1d1d1;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.read::after {
    content: url(../img/arrow2.png);
    position: absolute;
    left: 85px;
}

.recent {
    width: 260px;
    margin-left: 430px;
    margin-top: 80px;
    display: inline-block;
    float: left;
}

.recent h2,.twitter h2,.widget h2 {
    font-family: Raleway;
    color:  #ffffff;
    font-size: 24px;
    font-weight: 700;
    text-align: justify;
    letter-spacing: 1.5px;
    display: block;
}

.recent h3 {
    font-family: Montserrat;
    color:  #363636;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    text-align: justify;
    display: block;
    margin-top: 30px;
    width: 260px;
}
.recent p,.twitter p {
    font-family: Montserrat;
    color:  #545454;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-align: justify;
    display: block;
}

.recent article:hover h3 {
    font-family: Montserrat;
    color:  #ffffff;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    text-align: justify;
}

.recent article:hover p {
    font-family: Montserrat;
    color:  #c7b299;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-align: justify;
} 

.twitter {
    width: 267px;
    display: inline-block;
    float: left;
    margin-top: 80px;
    margin-left: 50px;
}

.twitter article:hover p {
    font-family: Montserrat;
    color:  #c7b299;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-align: justify;
} 

.twitter article:hover h3 {
    font-family: Montserrat;
    color:  #ffffff;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    text-align: justify;
}

.twitter p {
    margin-top: 30px;
}

.twitter h3 {
    font-family: Montserrat;
    color:  #363636;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    text-align: justify;
    display: block;
    width: 267px;
    margin-top: 1px;
}

.twitter article a {
    text-decoration: none;
    font-family: Montserrat;
    color:  #00bff3;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-align: justify;
}

.twitter span {
    font-family: Montserrat;
    color:  #959595;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-align: justify;
}

.widget {
    width: 280px;
    display: inline-block;
    margin-top: 80px;
    margin-left: 50px;
    float: none;
}

.widget .tel,.widget .bag {
    margin-top: 26px;
}

.widget .book,.widget .widgets {
    margin-top: 10px;
}

.widget .bag,.widget .widgets {
    margin-left: 10px;
}


.section2 {
    background-color: #111111;
    clear: both;
}


.section2 p {
    font-family: Montserrat;
    color:  #545454;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
    display: inline-block;
    margin-top: 126px;
    margin-bottom: 45px;
}

.section2 span {
    font-family: Montserrat;
    color:  #959595;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
    display: inline-block;
}

.section2 a {
    text-decoration: none;
    font-family: Montserrat;
    color:  #545454;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
    display: inline-block;
    margin-top: 126px;
    margin-bottom: 45px;
    margin-left: 35px;
}

.section2 a:hover {
    color:  #c7b299;
}

.section2 .copy {
    margin-left: 376px;
}

.section2 .design {
    margin-left: 440px;
}

.section2 .only {
    margin-left: 20px;
}